:root {
    /* Layout */
    --app-breakpoint-mobile: 375px;
    --app-breakpoint-desktop: 1440px;
    /* Colors */
    --app-color-neutral-0: hsl(200, 60%, 99%);
    --app-color-neutral-100: hsl(0, 0%, 93%);
    --app-color-neutral-200: hsl(217, 61%, 90%);
    --app-color-neutral-300: hsl(0, 0%, 78%);
    --app-color-neutral-600: hsl(226, 11%, 37%);
    --app-color-neutral-700: hsl(225, 23%, 24%);
    --app-color-neutral-800: hsl(226, 25%, 17%);
    --app-color-neutral-900: hsl(227, 75%, 14%);
    
    --app-color-red-400: hsl(3, 86%, 64%);
    --app-color-red-500: hsl(3, 71%, 56%);
    --app-color-red-700: hsl(3, 77%, 44%);
    /* Gradient */
    --app-gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --app-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
    /* Font */
    --app-font-size-16: 16px;

    --app-font-weight-400: 400;
    --app-font-weight-500: 500;
    --app-font-weight-700: 700;
}

html.theme-light {
    --app-gradient: var(--app-gradient-light);
}

html.theme-dark {
    --app-gradient: var(--app-gradient-dark);
}

html.theme-transition::view-transition-old(root) {
    animation-delay: 750ms;
}

html.theme-transition::view-transition-new(root) {
    animation: circle-in 750ms ease-in-out;
}

html {
    height: 100%;
    background: var(--app-gradient);
}

@keyframes circle-in {
    from {
        clip-path: circle(0% at 50% 0%);
        opacity: 0;
    }

    to {
        clip-path: circle(100% at 50% 0%);
        opacity: 1;
    }
}